.hr{
	border-bottom:#dce4ec solid 1px; 
	padding: 10px 0px;
	margin-bottom:10px;
}
.hide{
	width:100vw;
	height:100vh;
	background-color: #eee;
	opacity:0.7;
    filter:Alpha(opacity=70);
	position:absolute;
	top:0;
	display:none
}
.subject-content{
 width:auto;
 height:auto;
 margin-left:10%;
 margin-right:10%;
}

.subject-content .topic p{
 display:block;
 width:100%;
 line-height:30px;
}

.radio span {
	margin-left : 10px;
}

.topic .checked{
	border: 1px solid #00bc9b;
}
.card{
    color: #dce4ec;
}
.pages span{
    display:inline-block;
    width:40px;
    height:40px;
    line-height:40px;
    text-align:center;
    font-size: 16px;
    margin:20px 10px;
}
.pages .checked{
    background: #59b59c;
    color: #FFF;
}
.card span:hover{
	background: #59b59c;
    color: #FFF;
}
.submit{
	text-align:right;
}

/*提交答案后*/
.record{
	z-index:100;
	position:absolute;
	top:30%;
	background-color:#fff;
	width:80%;
	height:auto;
	margin-left:10%;
    margin-right:10%;
	border-radius: 5%;
	display:none
}
.record .record-title{
height:30px;
line-height:30px;
margin-left:10px;
margin-bottom:-10px;
}
.pages .warning{
	background: #ff6547;
	color: #fff;
}