.hr{
	border-bottom:#dce4ec solid 1px; 
	padding: 10px 0px;
	margin-bottom:10px;
}
.hide{
	width:100vw;
	height:100vh;
	background-color: #eee;
	opacity:0.7;
    filter:Alpha(opacity=70);
	position:absolute;
	top:0;
	display:none
}
.topic .content{
	margin:0
}

/** 题目主题 **/
.subject-progress {
    padding: 10px 200px 10px 30px;
    background: #232c31;
    border-radius: 4px 4px 0 0;
    position: relative;
    white-space: nowrap;
    height: 30px;
}

.subject-content{
 min-height:300px;
 margin-top:10px;
 padding:10px 20px;
 background-color: #fff;
}

.subject-progress .progress {
    margin: 0;
    width: 90%;
    margin-right: 10px;
    display: inline-block;
}

.progress {
    overflow: hidden;
    background: #ebedef;
    border-radius: 32px;
    height: 12px;
}

.progress-nums {
    color: #fff;
    font-size: 20px;
}

.progress-bar {
    float: left;
    width: 0;
    height: 100%;
    font-size: 12px;
    line-height: 20px;
    color: #fff;
    text-align: center;
    background-color: #1abc9c;
}

.progress-time {
    font-size: 20px;
    position: absolute;
    right: 0;
    top: 0;
    background: #2d3339;
    border-radius: 0 6px 0 0;
    color: #fff;
    height: 40px;
	line-height:30px;
    width: 180px;
    padding-top: 10px;
    text-align: center;
	display:inline-block;
	 background: url(../img/time.png) no-repeat 20px center;
	 background-size: 25px 25px;
}

.subject-title {
    padding: 15px 20px 15px 55px;
    background: #FFF url(../img/remind.png) no-repeat 30px center;
	background-size: 20px 20px;
    line-height: 1.5;
    font-size: 16px;
    border-bottom: 1px solid #eee;
    border-radius: 3px;
}

.subject-content .topic p{
 display:block;
 width:100%;
 line-height:40px;
 font-size:16px !important;
 padding: 5px 0;
}

.radio{
 border: 1px solid #00bc9b;
 margin: 10px 0 ;
 border: 1px solid #d4d4d4;
 border-radius: 2px;
}

.radio .icon {
	margin-left : 10px;
	margin-right : 10px;
}

.topic .checked{
	border: 1px solid #00bc9b;
}
.card{
    color: #dce4ec;
}
.pages span{
    display:inline-block;
    width:40px;
    height:40px;
    line-height:40px;
    text-align:center;
    font-size: 16px;
    margin:20px 10px;
}
.pages .checked{
    background: #59b59c;
    color: #FFF;
}
.card span:hover{
	background: #59b59c;
    color: #FFF;
}
.submit{
	text-align:right;
}

/*提交答案后*/
.record{
	z-index:100;
	position:absolute;
	top:30%;
	background: #fff;
	width:80%;
	height:auto;
	margin-left:10%;
    margin-right:10%;
	border-radius: 5%;
	display:none;
	font-size:16px;
	padding:10px 20px;
}
.record .close{
	position:absolute;
	top:5px;
	right:5px;
}
.record .record-title{
color: #b8b6b8;
height:40px;
line-height:40px;
margin-left:10px;
margin-bottom:-10px;
}
.pages .warning{
	background: #ff6547;
	color: #fff;
}

